.cproject
.project
.pydevproject
cmake_install.cmake
build/
bin/
lib/
msg_gen/
srv_gen/
*.pyc
cfg/SickTim.cfgc
cfg/cpp/sick_tim/SickTimConfig.h
docs/SickTimConfig-usage.dox
docs/SickTimConfig.dox
docs/SickTimConfig.wikidoc
src/sick_tim/cfg/SickTimConfig.py
src/sick_tim/cfg/__init__.py
src/sick_tim/__init__.py
